# 子目录|Git URL|分支
# 分支不写则用默认 main
ecsite|git@github.com:zhujiansamuel/mobile-zone-website.git|main
webapp|git@github.com:zhujiansamuel/YamagotiProjects.git|master
n8n-auto|git@github.com:zhujiansamuel/n8n-Automation-yamaguchi.git|main
desktopapp|git@github.com:zhujiansamuel/iPhoneStockManagementSystem.git|main
dataapp|git@github.com:zhujiansamuel/Data-consolidation.git|master
auto|git@github.com:zhujiansamuel/Automation-yamaguchi.git|main
dev|git@github.com:zhujiansamuel/ELK.git|master
dedktoptools|git@github.com:zhujiansamuel/RenameUI.git|main
