# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/
*.db

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local

# Screenshots
screenshots/
